<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>What is Blocksafe?  </h1>
    <p>
     Blocksafe is a data api to keep blockchain sector safe for you and your clients.
     We are still in development so stay tuned for more development and a beta release. 
     Welcome to our beta!
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>