<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Blocksafe API Docs</h1>
    <p>So far we have opened only two api endpoints for beta testing</p>

    <h4>Base Url</h4>
    <p>Base Url : <a href="https://api.blocksafe.digital/">https://api.blocksafe.digital/</a></p>
     
    <h4>Ping Server</h4>
    <p>Base Url : <a href="https://api.blocksafe.digital/ping">https://api.blocksafe.digital/ping</a></p>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
