<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Contact Us</h1>
    <p>Want to learn more about blocksafe. Contact us <a href="https://inca.digital">Inca Digital</a></p>

</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
